<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <button class="btn btn-secondary btn-block" routerLink="/table" routerLinkActive="bg-primary"
                [routerLinkActiveOptions]="{exact: true}">
                All
            </button>
            <button *ngFor="let category of categories" class="btn btn-secondary btn-block"
                [routerLink]="['/table', category]" routerLinkActive="bg-primary">
                {{category}}
            </button>
            <hr style="height:5px;border:none;background-color:#aaa;" />
            <div class="form-group bg-info text-white p-2 mt-2">
                <label>Category</label>
                <select [(ngModel)]="highlightCategory" class="form-control">
                    <option value="">None</option>
                    <option *ngFor="let category of categories">
                        {{category}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-9">
            <button class="btn btn-info" routerLink="products">
                Count Products
            </button>
            <button class="btn btn-primary" routerLink="categories">
                Count Categories
            </button>
            <!--This existed up to page 673.
            <button class="btn btn-info" routerLink="/table/products">
                Count Products
            </button>
            <button class="btn btn-primary" routerLink="/table/categories">
                Count Categories
            </button>
            <button class="btn btn-secondary" routerLink="/table">
                Count Neither
            </button>
            -->
            <div class="my-2">
                <router-outlet></router-outlet>
            </div>
            <table class="table table-sm table-bordered table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <tr *ngFor="let item of getProducts()" [@rowHighlight]="getRowState(item.category)">
                    <!--[@rowHighlight] is prefixed with an @ because it tells angular that it's supposed to use the animation trigger rowHighlight in the HighlightTrigger class, used in the component of this page.-->
                    <td style="vertical-align:middle">{{item.id}}</td>
                    <td style="vertical-align:middle">{{item.name}}</td>
                    <td style="vertical-align:middle">{{item.category}}</td>
                    <td style="vertical-align:middle">
                        {{item.price | currency:"USD" }}
                    </td>
                    <td class="text-center">
                        <!--The button used to have (click)="editProduct(item.id), but it's no longer necessary"-->
                        <!--The book decided to remove the extra parameters it had added before, so I'm making a simpler button now.
            <button class="btn btn-warning btn-sm" [routerLink]="['/form', 'edit', item.id, {name: item.name, category: item.category, price: item.price}]">
                Edit
            </button>-->
                        <button class="btn btn-warning btn-sm" [routerLink]="['/form', 'edit', item.id]">Edit</button>
                        <button class="btn btn-danger btn-sm ml-3" (click)="deleteProduct(item.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-12 p-2 text-center">
            <!--The button used to have (click)="createProduct(), but it's no longer necessary"-->
            <button class="btn btn-primary m-1" routerLink="/form/create">
                Create New Product
            </button>

            <button class="btn btn-danger m-1" (click)="deleteProduct(-1)">
                Generate an HTTP error
            </button>
            <button class="btn btn-danger m-1" routerLink="/does/not/exist">
                Could generate a Routing Error if it weren't handled in app-routing.module.ts
            </button>
            <button class="btn btn-danger m-1" routerLink="/ondemand">
                Load Module lazily
            </button>
        </div>
    </div>
</div>